#panier {  
  width: 50px;
  height: 50px;
  
}
.link {
  text-decoration: none;
  color: black;
} 
.link:hover {
  color: black;
} 
ul {
  list-style:none;
}
#list {
  padding-left: 0;

  }
  li {
  margin:15px;
  }
  #logo {  
    width:  200px;
    height: 70px;
  }
#logoOrinoco {  
  width:  100%;
  height: auto;
}
nav, footer {
  background-color: #f3e9f1;
  
}
#jumbotron {
  background-color: #d7aace;
}
article {
  margin-bottom: 25px;
}
#alert {
  background-color:#f3e9f1;
  color: #ba45a3;
}
#sommaire {
  border-right: 8px silver double;
}

@media screen and (min-width: 1400px) {
  img {
    height: 275px;
  }
  }
@media screen and (max-width: 1400px) {
  img {
    height: 235px;
  }
}
@media screen and (max-width: 1200)  {
  img {
    height: 190px;
  }
}
@media screen and (max-width: 990px)  {
  img {
    height: 460px;
  }
} 
@media screen and (min-width: 575px) and (max-width: 765px)  {
  img {
    height: 340px;
  }
} 




@media screen and (min-width: 1000px)  {
  
  #wala {
    margin: auto;
  }
}

#photoProduit {
  height: 150px;
  width: 230px;
}

#check {
  width: 80px;
  height: 80px;
}